<?xml version="1.0" encoding="UTF-8"?>
<!--
    bean-discovery-mode, explicit bean archive

    Java Platform, Enterprise Edition (Java EE) 7 - Java Platform, Enterprise Edition: The Java EE Tutorial
    25.1 Packaging CDI Applications
    http://docs.oracle.com/javaee/7/tutorial/cdi-adv001.htm

    15.6. Packaging and deployment - 15.6.1. Explicit bean archive, 15.6.2. Implicit bean archive
    https://docs.jboss.org/weld/reference/latest/en-US/html/ee.html#packaging-and-deployment
-->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       version="1.1" bean-discovery-mode="all">
</beans>